*.DS_Store

# Virtual environment files
venv/
.python-version
pyproject.toml
uv.lock

# LaTeX auxiliary files
poster/a0header.ps
poster/poster.aux
poster/poster.fdb_latexmk
poster/poster.fls
poster/poster.log
poster/poster.pdf
poster/poster.synctex.gz